@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@100;300;500;800&display=swap");

/* global reset */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* setting */

body {
  font-family: "Roboto Condensed", sans-serif;
  width: 1200px;
  margin: auto;
  background-image: url("https://picsum.photos/id/44/1200/600");
  background-repeat: no-repeat;
  background-size: cover;
}

/* navbar */

nav {
  display: flex;
  justify-content: end;
  padding-top: 2rem;
  padding-right: 10rem;
}
nav h3 {
  color: white;
}

/* main */

main {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
header h1 {
  font-size: 60px;
  color: white;
}

.text-site {
  padding-top: 3rem;
  padding-bottom: 1rem;
  color: white;
}

/* loading bar */

.loading-bar {
  background-color: white;
  height: 1rem;
  width: 28rem;
}
.load-bar {
  background-color: rgb(255, 166, 0);
  height: 1rem;
  width: 5%;
  transition: width 2s, background-color 2s;
}
.load-bar:hover {
  background-color: rgb(0, 255, 200);
  height: 1rem;
  width: 100%;
}

.percent {
  display: flex;
  justify-content: center;
  gap: 25rem;
  margin-bottom: 3rem;
  color: white;
}

button {
  padding: 0.25rem 1rem;
  font-family: "Roboto Condensed", sans-serif;
  margin-bottom: 1rem;
  border: none;
  border-radius: 1rem;
  transition: background-color 0.5s;
}

button:hover {
  background-color: aquamarine;
}

.icon-bar {
  display: flex;
  gap: 2rem;
}

.icon {
  width: 40px;
  height: 40px;
  border: 1px solid white;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

i {
  font-size: 30px;
  text-align: center;
  color: white;
}
